@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #fbff00;
  --color-primary: #09ceff;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.color-changer {
  background-color: var(--color-primary);
  border-radius: 2rem;
}

h1 {
  display: flex;
  justify-content: center;
}

.color-changer > * {
  margin: 2rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.color {
  display: flex;
  justify-content: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.buttons button {
  background-color: var(--light-blue);
  padding: 2rem;
  border-radius: 2rem;
}
.buttons {
  transition: ease-in-out all 0.1s;
  transform: scale(1);
}

.buttons:active {
  transform: scale(1.2);
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 0px;
  color: #fff;
}

.social_footer_ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  align-items: space-evenly;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
  padding: 3px;
}

.socials a i {
  font-size: 2.5rem;
  width: 20px;
  transition: color 0.4s ease;
}

.socials a:hover i {
  color: aqua;
}
